cffi==1.15.1
cloudpickle==2.2.1
contourpy==1.0.7
cycler==0.11.0
filelock==3.9.0
fonttools==4.38.0
glcontext==2.3.7
glfw==1.12.0
gym==0.21.0
gym-notices==0.0.8
gym3==0.3.3
imageio==2.25.1
imageio-ffmpeg==0.3.0
importlib-metadata==4.13.0
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.0
moderngl==5.7.4
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
procgen==0.10.7
pycparser==2.21
pyparsing==3.0.9
pyreadstat==1.1.9
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
stable-baselines3==1.7.0
torch==1.13.1
typing_extensions==4.5.0
values==2020.12.3
zipp==3.13.0
